
.idea
node_modules


*.log
.htaccess
sitemap.xml
sitemap.xml.gz
#wp-config.php
wp/wp-content/advanced-cache.php
wp/wp-content/backup-db/
wp/wp-content/backups/
wp/wp-content/blogs.dir/
wp/wp-content/cache/
wp/wp-content/upgrade/
wp/wp-includes/
wp/wp-admin/
wp/wp-content/uploads/
wp/wp-content/wp-cache-config.php
wp/wp-content/plugins/
wp/wp-content/themes/index.php
wp/wp-content/index.php

wp/*.php
!wp/wp-content/themes/bootstrap2wordpress/*
wp/readme.html
wp/license.txt